.main {
    color: #121212;
    /*border: 1px solid green;*/
    height: 100%;
    /*display: flex;*/
}


.over-bars {
    display: flex;
    flex-direction: column;
    /*position: absolute;*/
    /*margin-left: 50%;*/
    /*margin-right: 50%;*/
    /*border: 1px solid red;*/
    /*margin-left: 500px;*/
    /*align: center;*/
}

h1 {
    z-index: 1;
    font-size: 69px;
    /*background: linear-gradient(to right bottom, #72CEAF, #A5FAFF);*/
    background: radial-gradient(10.52% 72.19% at 47.59% 49.21%, #79DAB9 0%, #A5FAFF 100%);
    /*rgba(165, 250, 255, 1)*/
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    justify-content: center;
    display: flex;
    margin-bottom: 25px;
}

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    padding-top: 1px; /* don't question it */
    top: 0;
    z-index: 15;
    background-color: #F8F8F8;
}

.footer {
    font-size: 12px;
    bottom: 0;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 15;
    background-color: #f5f5f5;
}

.footer-text {
    text-align: center;

    -webkit-flex-pack:center;
	-webkit-justify-content:center;
	-moz-justify-content:center;
	-ms-flex-pack:center;
	justify-content:center;
    
    -webkit-flex-line-pack:center;
	-ms-flex-line-pack:center;
	-webkit-align-content:center;
	align-content:center;
    
    -webkit-flex-direction:column;
	-moz-flex-direction:column;
	-ms-flex-direction:column;
	flex-direction:column;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.help-button {
    color: #494949 !important;
    text-decoration: none;
    background: #ffffff;
    padding: 10px 20px;
    border: 4px solid #A5FAFF !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
    border-radius: 10px;

    position: fixed;
    top: 33px;
    right: 40px;
    text-align: center;
    z-index: 20;
}

.help-button:hover {
    color: #ffffff !important;
    background: #72CEAF;
    border-color: #72CEAF !important;
    transition: all 0.4s ease 0s;
}

.slideout {
    font-size: 12px;
    justify-content: center;
    text-align: center;
    display: flex;
    margin-top: -25px;
    color: #878787;
    transition: 0.5s;
    transform: translate(0px, -20px);
    z-index: 10;
    opacity: 0;
}

.slide-anim {
    transform: translate(0, 0px);
    opacity: 1;
}
