.main {
    color: #121212;
    /*border: 1px solid green;*/
    height: 100%;
    /*display: flex;*/
}


.over-bars {
    display: flex;
    flex-direction: column;
    /*position: absolute;*/
    /*margin-left: 50%;*/
    /*margin-right: 50%;*/
    /*border: 1px solid red;*/
    /*margin-left: 500px;*/
    /*align: center;*/
}

h1 {
    font-size: 69px;
    background: -webkit-linear-gradient(315deg, #72CEAF, #A5FAFF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    justify-content: center;
    display: flex;
    margin-bottom: 25px;
}