.bars-wrapper {
    display: flex;
    flex-direction: column;
    /*border: 1px solid blue;*/
    flex-shrink: 1;
    /*width: 50%;*/

}

.bar-unit {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    /*border: 1px solid red;*/
}

.bar {
    height: 20px;
    /*border: 1px solid grey;*/
    /*width: 100%;*/
    margin-left: 10px;
    /*margin-top: 15px;*/
    /*padding: 3px;*/
}


.word {
    font-size: 18px;
    margin-top: -4px;
    color: #8E8E8E;
    font-family: 'Verdana';
    /*border: 1px solid red;*/
    /*width: 20px;*/
}


.bar-gradient {
    border-radius: 7px;
    height: 20px;
    background-image: linear-gradient(to right, #72CEAF, #A5FAFF 400px);
    z-index: 10;
    /*position: absolute;*/
    margin-left: -500px;
}

.bottom-gradient {
    border-radius: 7px;
    height: 20px;
    background-image: linear-gradient(to right, #E8E8E8, #E8E8E8 400px);
}


.word-wrapper {
    text-align: right;
    width: 100px;
    margin-right: 10px;
}
