.bars-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*border: 1px solid blue;*/
    /*flex-shrink: 1;*/
    /*width: 50%;*/
}

.bar-unit {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    transition: 0.3s;
    /*width: 50%;*/
}

.bar-unit:hover {
    transform: scale(1.02);
    /*background-color: #7B7B7B;*/
}

.word {
    font-size: 18px;
    margin-top: -4px;
    color: #8E8E8E;
    font-family: 'Verdana';
    transition: 0.3s;
    /*border: 1px solid red;*/
    /*width: 20px;*/
}

.word:hover {
    color: #666666;
}

.bar-gradient {
    border-radius: 7px;
    height: 20px;
    background-image: linear-gradient(to right, #72CEAF, #A5FAFF 400px);
    z-index: 10;
    /*position: absolute;*/
    margin-left: -500px;
}

.bottom-gradient {
    border-radius: 7px;
    height: 20px;
    background-image: linear-gradient(to right, #E8E8E8, #E8E8E8 400px);
}

.bottom-gradient:hover {
    /*background-image: linear-gradient(to right, #D9D9D9, #D9D9D9 400px);*/
}


.word-wrapper {
    text-align: right;
    /*width: 500px;*/
    margin-right: 10px;
}

.arrow {
    font-size: 25px;
    color: #B7B7B7;
    transition: 0.3s;
    user-select: none;
    -webkit-user-select: none;
}

.arrow:hover {
    transform: scale(1.2);
    color: #7B7B7B;
}

.loader-container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader {
    /* border and border-top must be the same */
    border: 8px solid #f3f3f3;
    border-top: 8px solid #A5FAFF; 
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s ease-in-out infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -22px auto auto -22px;
    /*transform: translate(-50%, -50%);*/
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.tooltip {
    /*display: inline;*/
    /*position: absolute;*/
    /*margin-left: 50px;*/
    /*border: 1px solid red;*/
    margin-right: 5px;
    margin-top: -50px;
    margin-bottom: 20px;
    /*transform: translateY(-20px);*/
    background: #454545;
    color: #EBE6C5 !important;
    border-radius: 8px;
    padding: 5px;
    padding-bottom: 6px;
    font-size: 11px;
    transition: 0.3s;
    vertical-align: 2px;
}




