.bars-wrapper {
    display: flex;
    flex-direction: column;
}

.bar-unit {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    /*border: 1px solid red;*/
}

.bar {
    height: 20px;
    border: 1px solid grey;
    /*width: 100%;*/
    margin-left: 10px;
    /*margin-top: 15px;*/
    /*padding: 3px;*/
}


.word {
    /*border: 1px solid red;*/
    /*width: 20px;*/
}


.bar-gradient {
    border-radius: 5px;
    height: 20px;
    background-image: linear-gradient(to right, #72CEAF, #A5FAFF 400px);
}


.word-wrapper {
    text-align: right;
    width: 100px;
    margin-right: 10px;
}
