.r-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*flex-direction: column;*/ /*margin-top: 2rem;*/
}

.r {
    border: 0px solid teal;
    width: 10px;
    height: 80px;

}

.vword {
    margin-right: 1rem;
    width: 70px;
    color: #E0BB8A;
    font-weight: 700;
}

.big-wrapper {
    /*transform: rotate(90deg);*/
}
